{%load static%}

<head>
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <link rel="stylesheet" href="{%static 'css/manual.css'%}">
    <!-- <script src="{%static 'js/jquery-3.6.3.min.js'%}"></script> -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: black;">


    {% include 'navbar.html' %}

    {% block "body"%}

    {% endblock %}
    {% include 'footer.html' %}


    <script src="{% static '/js/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static '/js/custom.js' %}"></script>
    

    
    <script src="{%static '/js/main.js'%}"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    {% for msg in messages %}
    <script>
        
        alertify.set('notifier', 'position', 'top-right');
        alertify.success('{{ msg }}');
    </script>
    {% endfor %}

    {% block scripts %} 

    {% endblock scripts %} 
    <script src="{%static '/js/checkout.js'%}"></script>

</body>